<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output Page</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body {
			background-color: #FFA500;
			font-family: Verdana;
			text-align: center;
		}

		.button {
  border: none;
  padding: 18px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
}
    </style>
</head>
<body>
 <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
            <h1>The Prediction is: 1</h1>
            <h3>0 represents Not-Placed </h3>
            <h3> 1 represents Placed</h3>

                <button class="button" type="submit" value="home">Back to Home Page</button>
                <button class="button" type="submit" value="predict">Go to Predict Page</button>

            </div>
        </div>
    </div>
</section><!-- End Hero -->
</body>
</html>